:root {
  --red: #790707;
  --backgcround: radial-gradient(circle, rgba(143,177,214,1) 0%, rgba(112,127,172,1) 100%);
  --background: radial-gradient(circle, rgba(210,224,251,1) 0%, rgba(180,187,209,1) 100%);
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

.home {
  background: var(--background);
  overflow-x: hidden;
}

.header {
  border: 1px solid var(--red);
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  background: var(--red);
  color: white;
}

.header span {
  font-style: italic;
}

.header ul {
  display: flex;
  gap: 48px;
  list-style-type: none;
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
}

.header li {
  padding: 2px 8px;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
}

.header-subtotal {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.link {
  text-decoration: none;
  color: white;
  transition: all 200ms ease-in-out;
  display: flex;
  gap: 8px;

  &:hover {
    color: lightskyblue;
  }
}

.active {
  color: lightskyblue;
}

.active {
  text-decoration-color: white;
}

.footer {
  height: 5vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add2cart, .see-details-btn, .remove-item-btn, .checkout-btn, .back2shop-btn {
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  border-radius: 24px;
  transition: all 200ms ease-in-out;
  font-size: 0.8rem;
  width: 130px;    
  height: 28px ;
  color: white;

  &:hover {
      filter: brightness(0.85) ;
  }
}

.see-details-btn, .checkout-btn {
  border: 1px solid rgb(0, 75, 0);
  background: green;
}

.add2cart {
  background: blue;
  border: 1px solid rgb(8, 8, 126);
}

.remove-item-btn {
  background: var(--red);
  border: 1px solid rgb(122, 0, 0);
  font-size: 0.75rem;
}

.back2shop-btn {
  background: lavender;
  color: black;
  border: 1px solid rgb(213, 213, 231);
}

input {
  font-family: 'DM Sans', sans-serif;
}

.page {
  position: absolute;
  left: 45px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: translateX(-60px)
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 300ms, transform 500ms;
}

.page-exit {
  opacity: 0;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0ms, transform 0ms;
}

@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
    height: fit-content;
  }
}

@media screen and (max-width: 560px) {
  .header {
    font-size: 1rem;
  }

  .header ul {
    font-size: 1rem;
    gap: 24px;
  }

  .footer {
    font-size: 0.9rem;
  }
}
